<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <title>customer-order-status-inquiry</title>
    <style>
      #order-photo {
        width: 200px;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <main>
      <form method="post" action="/api/order/<%=order_id%>/status">
        <% if(!userType){%>
          <h1>고객</h1>
          <span>주소 : <%=orderData.address%></span><br />
          <img id="order-photo" src="/<%=orderData.photo%>" /><br />
          <span>주문 상태 : <%=orderData.status%></span><br />
          <span>요청 사항 : <%=orderData.request%></span><br />
        <%}else{%>
          <h1>사장</h1>
          <span>주소 : <%=orderData.address%></span><br />
          <img id="order-photo" src="/<%=orderData.photo%>" /><br />
          <span>주문 상태 : <%=orderData.status%></span><br />
          <span>요청 사항 : <%=orderData.request%></span><br />
          <button>상태 변경</button>
        <% } %>
      </form>
    </main>
  </body>
</html>
